html,
body {
  padding: 0;
  margin: 0;
  background-color: "#e3dc14";
  font-family: "Space Mono", monospace;
  font-size: 24;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
